In [1]:
import csv
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression

In [4]:
dataset=pd.read_csv('C:/Users/dell/Downloads/code/arcanut.csv')

In [5]:

X = dataset.iloc[:, :-1].values
Y = dataset.iloc[:, 3].values

In [6]:
"""Encoding categorical data

Encoding the Independent Variable
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelencoder_X = LabelEncoder()
X[:, 3] = labelencoder_X.fit_transform(X[:, 3])
onehotencoder = OneHotEncoder(categorical_features = [3]) ##why str needs to be at this loc only and not first?
X = onehotencoder.fit_transform(X).toarray()

dummy var trap removal
X=X[:,1:]  ##no need to do this manually lib does it by default..written just for info.
"""

'Encoding categorical data\n\nEncoding the Independent Variable\nfrom sklearn.preprocessing import LabelEncoder, OneHotEncoder\n\nlabelencoder_X = LabelEncoder()\nX[:, 3] = labelencoder_X.fit_transform(X[:, 3])\nonehotencoder = OneHotEncoder(categorical_features = [3]) ##why str needs to be at this loc only and not first?\nX = onehotencoder.fit_transform(X).toarray()\n\ndummy var trap removal\nX=X[:,1:]  ##no need to do this manually lib does it by default..written just for info.\n'

In [7]:
#regressor = LinearRegression()
#regressor.fit(X, Y)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.1, random_state = 0)

In [12]:
regressor = LinearRegression()

In [13]:
regressor.fit(X_train, Y_train)
#predecting test set results

LinearRegression()

In [14]:
Y_pred = regressor.predict(X_test)

In [17]:
df = pd.DataFrame({'Actual': Y_test, 'Predicted': Y_pred})
df

      Actual  Predicted
0    2.07336   2.074914
1    1.50000   1.506263
2    0.23485   0.212835
3    0.71066   0.710347
4    0.70987   0.709560
..       ...        ...
148  0.70968   0.709371
149  0.80202   0.801094
150  3.45274   3.456047
151  1.22661   1.235565
152  7.78630   7.759590

[153 rows x 2 columns]

In [ ]:
# https://dsw-ap-southeast-1.data.aliyun.com/notebook.htm?instance=274#/