In [1]:
#pip install pyspark

In [1]:
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [3]:
import pyspark

In [4]:
# importing libraries
from pyspark.sql import SparkSession

In [5]:
# Creating a spark session
ss = SparkSession.builder.appName("practice").getOrCreate()

In [6]:
ss

In [7]:
list1= [" Name ","id"]
data= [("rohan",2),(" happy",4),("ja",5)]

In [8]:
rdd= ss.sparkContext.parallelize(data)

In [9]:
rdd.collect()

[('rohan', 2), (' happy', 4), ('ja', 5)]

In [10]:
#import spark.implicits._
#df = rdd.toDF()

In [11]:
ab= ss.createDataFrame(rdd).toDF(*list1)

In [12]:
df = ss.read.csv("C://Users//Hitesharma.US//Downloads//Shared//computerunningandaveragedata.csv")

In [13]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [14]:
df.show()

+---------+--------+------+
|      _c0|     _c1|   _c2|
+---------+--------+------+
|YearMonth|Location|Amount|
|   201901|     AJM|  1300|
|   201901|     DXB|  1450|
|   201901|     AUH|  1375|
|   201902|     AJM|  1150|
|   201902|     DXB|  1400|
|   201902|     AUH|  1305|
|   201903|     AJM|  1350|
|   201903|     DXB|  1550|
|   201903|     AUH|  1250|
|   201904|     AJM|  1400|
|   201904|     DXB|  1675|
|   201904|     AUH|  1575|
|   201905|     AJM|  1200|
|   201905|     DXB|  1450|
|   201905|     AUH|  1400|
|   201906|     AJM|  1050|
|   201906|     DXB|  1400|
|   201906|     AUH|  1250|
|   201907|     AJM|   900|
+---------+--------+------+
only showing top 20 rows

In [15]:
df = ss.read.option('header','true').csv("C://Users//Hitesharma.US//Downloads//Shared//computerunningandaveragedata.csv")

In [16]:
df.show()

+---------+--------+------+
|YearMonth|Location|Amount|
+---------+--------+------+
|   201901|     AJM|  1300|
|   201901|     DXB|  1450|
|   201901|     AUH|  1375|
|   201902|     AJM|  1150|
|   201902|     DXB|  1400|
|   201902|     AUH|  1305|
|   201903|     AJM|  1350|
|   201903|     DXB|  1550|
|   201903|     AUH|  1250|
|   201904|     AJM|  1400|
|   201904|     DXB|  1675|
|   201904|     AUH|  1575|
|   201905|     AJM|  1200|
|   201905|     DXB|  1450|
|   201905|     AUH|  1400|
|   201906|     AJM|  1050|
|   201906|     DXB|  1400|
|   201906|     AUH|  1250|
|   201907|     AJM|   900|
|   201907|     DXB|  1150|
+---------+--------+------+
only showing top 20 rows

In [17]:
dataStruct = [(("James","","Smith"),"36636","M","3000"), \
      (("Michael","Rose",""),"40288","M","4000"), \
      (("Robert","","Williams"),"42114","M","4000"), \
      (("Maria","Anne","Jones"),"39192","F","4000"), \
      (("Jen","Mary","Brown"),"","F","-1") \
]

In [18]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
print(dataStruct)

[(('James', '', 'Smith'), '36636', 'M', '3000'), (('Michael', 'Rose', ''), '40288', 'M', '4000'), (('Robert', '', 'Williams'), '42114', 'M', '4000'), (('Maria', 'Anne', 'Jones'), '39192', 'F', '4000'), (('Jen', 'Mary', 'Brown'), '', 'F', '-1')]

In [19]:
#schema = StructType(list[StructField(" Name",StructType([StructField(" first_name",StringType(),True),StructField("middle_name",StringType(),True),StructField("last_name",StringType(),True)],StructField))])

In [20]:
schema = StructType(
    [StructField('Name', StructType(
        [StructField('FirstName',StringType(),True),
         StructField('MiddleName',StringType(),True),
         StructField('LastName',StringType(),True)])),
        StructField('Salary',StringType(),True),
        StructField('Gender',StringType(),True),
        StructField('LastValue',StringType(),True)])

In [21]:
data1 = ss.createDataFrame(data = dataStruct,schema = schema)

In [22]:
data1.printSchema()

root
 |-- Name: struct (nullable = true)
 |    |-- FirstName: string (nullable = true)
 |    |-- MiddleName: string (nullable = true)
 |    |-- LastName: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- LastValue: string (nullable = true)

In [23]:
data2 = data1.toPandas()

In [24]:
data1.show()

+--------------------+------+------+---------+
|                Name|Salary|Gender|LastValue|
+--------------------+------+------+---------+
|    {James, , Smith}| 36636|     M|     3000|
|   {Michael, Rose, }| 40288|     M|     4000|
|{Robert, , Williams}| 42114|     M|     4000|
|{Maria, Anne, Jones}| 39192|     F|     4000|
|  {Jen, Mary, Brown}|      |     F|       -1|
+--------------------+------+------+---------+

In [25]:
data1.select("Name").show()

+--------------------+
|                Name|
+--------------------+
|    {James, , Smith}|
|   {Michael, Rose, }|
|{Robert, , Williams}|
|{Maria, Anne, Jones}|
|  {Jen, Mary, Brown}|
+--------------------+

In [26]:
rdd = ss.sparkContext.parallelize(data)

In [27]:
rd =rdd.toDF()

In [28]:
rd.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)

In [29]:
rd.show()

+------+---+
|    _1| _2|
+------+---+
| rohan|  2|
| happy|  4|
|    ja|  5|
+------+---+

In [30]:
data1.select("Name").show()

+--------------------+
|                Name|
+--------------------+
|    {James, , Smith}|
|   {Michael, Rose, }|
|{Robert, , Williams}|
|{Maria, Anne, Jones}|
|  {Jen, Mary, Brown}|
+--------------------+

In [31]:
data1.select("Name.firstName","Gender").show()

+---------+------+
|firstName|Gender|
+---------+------+
|    James|     M|
|  Michael|     M|
|   Robert|     M|
|    Maria|     F|
|      Jen|     F|
+---------+------+

In [32]:
data1.select('Name.*',"Gender").show()

+---------+----------+--------+------+
|FirstName|MiddleName|LastName|Gender|
+---------+----------+--------+------+
|    James|          |   Smith|     M|
|  Michael|      Rose|        |     M|
|   Robert|          |Williams|     M|
|    Maria|      Anne|   Jones|     F|
|      Jen|      Mary|   Brown|     F|
+---------+----------+--------+------+

In [33]:
data1.filter(data1.Gender=='M').show()

+--------------------+------+------+---------+
|                Name|Salary|Gender|LastValue|
+--------------------+------+------+---------+
|    {James, , Smith}| 36636|     M|     3000|
|   {Michael, Rose, }| 40288|     M|     4000|
|{Robert, , Williams}| 42114|     M|     4000|
+--------------------+------+------+---------+

In [34]:
data1.filter((data1.Gender=='M')& (data1.Salary >"4000")).show()

+--------------------+------+------+---------+
|                Name|Salary|Gender|LastValue|
+--------------------+------+------+---------+
|   {Michael, Rose, }| 40288|     M|     4000|
|{Robert, , Williams}| 42114|     M|     4000|
+--------------------+------+------+---------+

In [35]:
#data1.select(data1.Name.FirstName.filter(data1.Gender=='M').show()

In [36]:
# Select and where as filter
data1.select(data1.Name.FirstName).filter(data1.Gender=='M').show()

+--------------+
|Name.FirstName|
+--------------+
|         James|
|       Michael|
|        Robert|
+--------------+

In [37]:
# order by 
data1.sort(data1.LastValue.desc()).show()

+--------------------+------+------+---------+
|                Name|Salary|Gender|LastValue|
+--------------------+------+------+---------+
|{Maria, Anne, Jones}| 39192|     F|     4000|
|{Robert, , Williams}| 42114|     M|     4000|
|   {Michael, Rose, }| 40288|     M|     4000|
|    {James, , Smith}| 36636|     M|     3000|
|  {Jen, Mary, Brown}|      |     F|       -1|
+--------------------+------+------+---------+

In [38]:
data1.groupBy(data1.Gender).count().show()

+------+-----+
|Gender|count|
+------+-----+
|     M|    3|
|     F|    2|
+------+-----+

In [39]:
# group by
df.groupBy(df.Location).count().show()

+--------+-----+
|Location|count|
+--------+-----+
|     AJM|    8|
|     AUH|    8|
|     DXB|    8|
+--------+-----+

In [40]:
data2 = [('Name',323),('bbd',104),('ewhv',104),("jshd",104)]

In [41]:
data3 =[(104,20),(323,30)]

In [42]:
# creating dataframe 
data4 = ss.createDataFrame(data= data2,schema=['name','code'])
data5 = ss.createDataFrame(data= data3,schema=['code','value'])

In [43]:
data4.show()

+----+----+
|name|code|
+----+----+
|Name| 323|
| bbd| 104|
|ewhv| 104|
|jshd| 104|
+----+----+

In [44]:
data5.show()

+----+-----+
|code|value|
+----+-----+
| 104|   20|
| 323|   30|
+----+-----+

In [45]:
# join 
data4.join(data5, data4.code==data5.code,"inner").show()

+----+----+----+-----+
|name|code|code|value|
+----+----+----+-----+
| bbd| 104| 104|   20|
|ewhv| 104| 104|   20|
|jshd| 104| 104|   20|
|Name| 323| 323|   30|
+----+----+----+-----+

In [46]:
data4.show()

+----+----+
|name|code|
+----+----+
|Name| 323|
| bbd| 104|
|ewhv| 104|
|jshd| 104|
+----+----+

In [47]:
# View
data4.createOrReplaceTempView("vw_user")
data5.createOrReplaceTempView("vw_state")

In [48]:
user = ss.sql(" select * from vw_user")

In [49]:
user.show()

+----+----+
|name|code|
+----+----+
|Name| 323|
| bbd| 104|
|ewhv| 104|
|jshd| 104|
+----+----+

In [50]:
fill_int = user.fillna(value=0)

In [51]:
fill_string = fill_int.fillna(value="default")

In [52]:
fill_string.show()

+----+----+
|name|code|
+----+----+
|Name| 323|
| bbd| 104|
|ewhv| 104|
|jshd| 104|
+----+----+

In [53]:
from pyspark.ml.feature import Imputer

In [54]:
impt = Imputer(inputCols=["code"],outputCols=["newcode"]).setStrategy("mean")

In [63]:
#impt.fit(user.code).transform(user).show()

In [61]:
df1 = ss.read.option('header','true').csv("C://Users//Hitesharma.US//Untitled Folder 1//Project_2_Retail_dataset- V2 04-07-2022//User_product_purchase_details_p2.csv")

In [62]:
df1.show()

+-------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00069042|            A|                         2|             0|                 3|              null|              null|    8370|
|1000001| P00248942|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000001| P00087842|            A|                         2|             0|                12|              null|              null|    1422|
|1000001| P00085442|            A|                         2|             0|                12|                14|              null|    1057|
|1000002| P00285442|            C|                        4+|             0|                 8|              null|              null|    7969|
|1000003| P00193542|            A|                         3|             0|                 1|                 2|              null|   15227|
|1000004| P00184942|            B|                         2|             1|                 1|                 8|                17|   19215|
|1000004| P00346142|            B|                         2|             1|                 1|                15|              null|   15854|
|1000004|  P0097242|            B|                         2|             1|                 1|                16|              null|   15686|
|1000005| P00274942|            A|                         1|             1|                 8|              null|              null|    7871|
|1000005| P00251242|            A|                         1|             1|                 5|                11|              null|    5254|
|1000005| P00014542|            A|                         1|             1|                 8|              null|              null|    3957|
|1000005| P00031342|            A|                         1|             1|                 8|              null|              null|    6073|
|1000005| P00145042|            A|                         1|             1|                 1|                 2|                 5|   15665|
|1000006| P00231342|            A|                         1|             0|                 5|                 8|                14|    5378|
|1000006| P00190242|            A|                         1|             0|                 4|                 5|              null|    2079|
|1000006|  P0096642|            A|                         1|             0|                 2|                 3|                 4|   13055|
|1000006| P00058442|            A|                         1|             0|                 5|                14|              null|    8851|
|1000007| P00036842|            B|                         1|             1|                 1|                14|                16|   11788|
|1000008| P00249542|            C|                        4+|             1|                 1|                 5|                15|   19614|
+-------+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 20 rows

In [ ]:
df1.schema

In [ ]:
# group by and sort in same 
df.groupBy(df.City).count().sort(df.city)show()

In [ ]:
# Firstly create view for join
# Sql query 
comibe= ss.sql(" select first-name, lastname, city , type from vm v v inner join qwe q on v.eid= q.eid")

In [ ]:
# Pyspark query
data4.join(data5, data4.code==data5.code,"inner").select([hr.fisrtname,hr.lastname,hr.age,hr.lo]).filter()show()

In [ ]:
imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
    ).setStrategy("median")